# Directories
.vs/
.vscode/
bin*/
logs/
Debug/

# Files
*.user
*.DS_STORE
*.xcworkspace/
*.xcodeproj/
*.vcxproj*
*.sln
*Makefile
*.pyc

# Allow list
!premake5.exe
!*.dll
!*.lib

# Other
node_modules/

